<header>
    <nav class="navbar">
        <div class="navbar-left">
            <a routerLink="/" class="navbar-link">Home</a>
            <a routerLink="/productos" class="navbar-link">Productos</a>
            <!-- Otros enlaces adicionales según lo necesario -->
        </div>

        <!-- Mostrar Logout si el usuario está autenticado, o Login si no lo está -->
        <button *ngIf="authService.isLoggedIn()" class="navbar-button" (click)="logout()">
            Logout
        </button>
        <button *ngIf="!authService.isLoggedIn()" routerLink="/core/link" class="navbar-link" (click)="click1()">
            Login
        </button>
    </nav>
</header>
<router-outlet></router-outlet>