<div class="contenedor-principal">
    <div class="lista-usuarios">
        <h3>Lista de Usuarios</h3>
        <div class="usuario-item" *ngFor="let usuario of usuarios">
                <p>{{ usuario.nombre }}</p>
            <button [routerLink]="['/detalle', usuario.id]" class="btn-detalle">Ver Detalles</button>
        </div>
    </div>

    <div class="card-formulario">
        <h3>Agregar Nuevo Usuario</h3>
        <form (ngSubmit)="agregarUsuario()" class="formulario-usuario">
            <label>
                Nombre:
                <input type="text" [(ngModel)]="nuevoUsuario.nombre" name="nombre" required />
            </label>
            <label>
                Email:
                <input type="email" [(ngModel)]="nuevoUsuario.email" name="email" required />
            </label>
            <button type="submit" class="btn-agregar">Agregar Usuario</button>
        </form>
    </div>
</div>